pyspark==3.5.0
kafka-python==2.0.2
pandas==2.1.0
numpy==1.26.0
scikit-learn==1.3.0
matplotlib==3.8.0
seaborn==0.13.0
pyarrow==14.0.0
hdfs==2.7.0

# Streaming algorithms
pybloom-live==4.0.0

# LSH
datasketch==1.6.4

# Differential Privacy
diffprivlib==0.6.4

# Explainable AI
shap==0.44.1

# Delta Lake (new tool not used in any HW)
delta-spark==2.4.0